# Background

### Z+Jets

In [1]:
import awkward as ak
import pandas as pd
import numpy as np
import vector
from coffea.nanoevents import NanoEventsFactory
from coffea.nanoevents import NanoAODSchema, DelphesSchema
import mplhep as hep
import matplotlib.pyplot as plt
import seaborn as sns
import DM_HEP_AN as dm
from math import pi
hep.style.use("CMS")
#%matplotlib inline
plt.ioff()

In [12]:
csvFiles = "background/ZpJets/ZpJets_"
nFiles = 10
dfs = [pd.read_csv(csvFiles+str(i)+".csv") for i in range(1,nFiles+1)]
data_z = pd.concat(dfs)
data_z.to_csv("background/ZpJets.csv", index=False)

In [11]:
data_z

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
0,4.098873,3.994257,3.030382,NaN,-0.513310,-0.018580,-4.182301,NaN,2.334446,1.387031,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,8.894424,-1.214915
1,11.798141,7.737942,6.914221,6.273020,4.573291,1.359862,-0.115720,-5.028740,1.238127,-2.195158,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.595545,1.682617
2,14.973746,5.966704,5.945081,4.751918,-0.912640,-4.898161,0.937833,-1.075210,-1.969545,0.329583,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,16.795286,1.274386
3,5.759025,4.054801,3.453021,NaN,-4.046280,4.051113,0.217294,NaN,2.776844,2.521697,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,10.571251,-0.749077
4,3.678748,NaN,NaN,NaN,1.156869,NaN,NaN,NaN,2.329423,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,5.639761,0.694998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39868,5.540202,4.766928,4.527765,4.236588,1.430633,2.705609,1.220728,4.411457,1.836020,-1.293970,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.740987,-2.220465
39869,6.788444,6.178067,4.331867,3.890579,-1.689151,0.313354,1.736196,-2.266497,2.668770,0.040853,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.678877,-0.423406
39870,4.924387,3.894219,NaN,NaN,-4.242176,3.417699,NaN,NaN,2.627008,0.789194,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,3.258008,2.894334
39871,14.762729,7.805204,7.714552,7.205715,3.975470,4.178586,-2.165949,5.378324,0.134387,-2.759613,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.427994,-1.841351
39872,12.185413,7.858242,NaN,NaN,0.960009,-1.011007,NaN,NaN,1.131070,-1.860932,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,5.222917,0.180101

In [13]:
csvFiles = "background/WpJets/WpJets_"
nFiles = 10
dfs = [pd.read_csv(csvFiles+str(i)+".csv") for i in range(1,nFiles+1)]
data_w = pd.concat(dfs)
data_w.to_csv("background/WpJets.csv", index=False)

In [14]:
data_w

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
0,28.222376,5.638002,4.496588,3.529714,-2.949326,-2.499641,3.079924,-3.498990,2.836737,-1.020999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48.586113,0.757915
1,7.699357,6.276242,4.797313,4.376765,-0.514840,-3.350588,-0.899159,0.935917,0.834013,-2.620557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.515190,-0.260727
2,16.280712,14.330416,8.919563,6.994516,-4.552525,2.795676,-1.408053,0.593003,2.099661,-1.320631,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,16.660978,-0.757161
3,27.970625,6.510084,5.437975,4.527232,-0.340904,1.009112,1.125909,-4.168434,-1.481624,3.026858,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.358300,1.461426
4,26.476050,6.379861,3.833766,3.722295,2.709292,-0.134858,1.497421,0.844396,-0.717510,-2.960393,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.850945,-1.847022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41362,38.762850,16.087452,11.149947,7.721490,3.663234,2.015679,-3.304661,-0.343149,-0.435935,0.770508,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.089115,2.951366
41363,4.012161,3.510375,3.287266,NaN,3.975719,-5.061927,-0.952703,NaN,0.572037,0.401447,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,37.619606,2.423737
41364,21.356815,6.090939,5.723580,3.583800,1.245169,-0.476552,0.515271,-1.024404,1.628663,2.876925,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.191357,-1.788808
41365,6.995523,4.029291,3.398391,NaN,-1.944692,1.307516,-2.424078,NaN,-2.346527,-2.127605,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,38.038765,-2.052668
41366,11.351068,7.122990,5.526257,5.479428,0.917888,1.478578,1.723826,5.674071,-0.800380,-2.680508,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.629190,-2.891606