# Análisis Simulaciones MadGraph/Pythia8/Delphes
Los outputs están en *sim_outputs/*.

In [1]:
import awkward as ak
import pandas as pd
import numpy as np
import vector
from coffea.nanoevents import NanoEventsFactory
from coffea.nanoevents import NanoAODSchema, DelphesSchema
import mplhep as hep
import matplotlib.pyplot as plt
import seaborn as sns
import DM_HEP_AN as dm
from math import pi
from funcs import *
hep.style.use("CMS")
#%matplotlib inline
plt.ioff()

## Simulación con $g_{Sg} = 1.0$ únicamente
Masas: $m_{\chi} = 10$ GeV, $m_{Y_{0}} = 100$ GeV ($m_{Y_{0}} = 2$ TeV)

In [2]:
# Análisis con csv file
csvFile = ["./sim_outputs/csv/DM_gSg1_only_1.csv","./sim_outputs/csv/DM_gSg1_only_2.csv"]
data_gSg1 = [pd.read_csv(i) for i in csvFile]

In [3]:
data_gSg1[0].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,49999.000000,50000.000000,50000.000000,50000.000000,49999.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,49999.000000,50000.000000,50000.000000,50000.000000,49999.000000,50000.000000,50000.000000
mean,504.038645,390.002695,174.550257,90.436713,0.002417,-0.006788,0.012426,-0.010658,-0.008652,-0.009917,...,0.037180,0.044940,0.077400,0.075122,0.001140,0.001380,0.001820,0.001940,21.954631,-0.008486
std,159.567830,127.234448,115.380040,71.206769,1.007653,1.127519,1.620189,1.815510,1.818970,1.810750,...,0.266682,0.292988,0.383839,0.377045,0.033745,0.037123,0.042623,0.044004,31.380925,1.817461
min,28.910349,21.695742,9.861891,4.078569,-4.591876,-4.626327,-5.183954,-5.512273,-3.141428,-3.141580,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.095384,-3.141590
25%,417.043690,317.566815,83.771777,40.818131,-0.679139,-0.780110,-1.162275,-1.311528,-1.590734,-1.572714,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.714322,-1.593227
50%,505.727580,400.824430,146.598980,68.743680,0.003553,-0.008015,0.005581,-0.020905,-0.001296,-0.011042,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.866960,-0.006939
75%,575.029848,459.639620,242.089355,116.884400,0.690140,0.767634,1.190067,1.298501,1.565651,1.552916,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.468232,1.558155
max,2279.990000,1694.592500,1040.114400,741.117100,4.094176,4.784640,5.751141,5.827671,3.141564,3.141446,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,938.823060,3.141414

In [4]:
data_gSg1[1].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.00000,50000.00000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,901.268431,741.066808,235.396607,106.898626,0.003229,-0.004244,-0.014981,-0.007722,0.001397,0.007025,...,0.035340,0.04336,0.08052,0.078220,0.000920,0.001380,0.002000,0.001640,38.309392,0.001096
std,252.804795,217.461156,181.578476,91.857887,0.901506,1.004218,1.541741,1.749698,1.815056,1.811830,...,0.258636,0.28983,0.38905,0.384688,0.030318,0.037123,0.044677,0.040464,45.050376,1.801440
min,55.122320,28.224993,9.377652,4.832908,-3.674342,-4.447035,-4.914145,-5.506592,-3.141557,-3.141503,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.038333,-3.141484
25%,762.289438,611.277950,99.366965,46.240091,-0.593181,-0.673765,-1.122472,-1.280051,-1.569029,-1.564800,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,12.944782,-1.551966
50%,948.226400,790.057170,180.586000,78.654107,0.007430,-0.005368,-0.014443,-0.008308,-0.001716,0.007178,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,25.901247,-0.002319
75%,1047.055550,899.212477,320.685985,135.278925,0.599920,0.661464,1.094978,1.263733,1.571750,1.576479,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,48.544905,1.553337
max,2995.553200,2830.437700,1265.354700,914.924200,4.072868,4.255777,5.004163,5.599123,3.141501,3.141394,...,3.000000,3.00000,3.00000,3.000000,1.000000,1.000000,1.000000,1.000000,1477.945200,3.141538

In [6]:
folder = 'Plots/gSg1/mx10_my_100_'
makePlots(data_gSg1[0],folder=folder)
folder = 'Plots/gSg1/mx10_my_2000_'
makePlots(data_gSg1[1],folder=folder)

## Simulación con $g_{Sg2} = 1.0$ únicamente
Masas: $m_{\chi} = 10$ GeV, $m_{Y_{0}} = 100$ GeV ($m_{Y_{0}} = 2$ TeV), proceso p p > y0 y0 j j, y0 > xd xd~, y0 > xd xd~

In [7]:
# Análisis con csv file
csvFile = ["./sim_outputs/csv/DM_gSg2_only_y0y0_1.csv","./sim_outputs/csv/DM_gSg2_only_y0y0_2.csv"]
data_gSg2 = [pd.read_csv(i) for i in csvFile]

In [8]:
data_gSg2[0].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,874.791810,685.260928,455.148005,311.579199,-0.000102,-0.000670,-0.001765,0.002883,0.000174,0.015879,...,0.037020,0.039260,0.04586,0.046480,0.001000,0.001560,0.001320,0.001460,39.910799,0.000226
std,300.144622,239.431269,154.488520,129.818485,0.674182,0.790288,0.941221,1.206543,1.812052,1.818269,...,0.267602,0.274737,0.29705,0.298599,0.031607,0.039466,0.036308,0.038182,46.943767,1.807272
min,156.396870,108.440674,34.034435,13.402516,-2.934785,-2.842104,-3.839447,-4.467606,-3.141265,-3.141460,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.066772,-3.141476
25%,656.959440,517.528030,351.281955,222.036620,-0.458573,-0.542182,-0.652607,-0.869950,-1.567340,-1.558963,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,15.149057,-1.563250
50%,816.768550,639.016325,436.973845,302.263305,-0.000540,-0.001603,-0.002883,0.000069,-0.001884,0.019263,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,26.818386,-0.009675
75%,1028.370375,805.615535,533.475788,387.271705,0.454774,0.541492,0.648956,0.877447,1.570213,1.593969,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,47.237247,1.554567
max,3420.851300,2464.316400,1879.349400,1256.847500,3.064133,3.726620,3.174849,4.555982,3.141366,3.141488,...,3.000000,3.000000,3.00000,3.000000,1.000000,1.000000,1.000000,1.000000,964.668200,3.141450

In [9]:
data_gSg2[1].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,1368.065948,1086.554955,765.013108,525.572119,-0.001816,-0.001043,-0.004734,0.002073,-0.003303,-0.006883,...,0.032720,0.037380,0.036800,0.041720,0.001260,0.001560,0.001320,0.001220,67.751320,-0.007787
std,352.587680,291.598800,206.425961,216.245536,0.555024,0.703476,0.890884,1.236541,1.810704,1.812576,...,0.252132,0.269563,0.265117,0.283163,0.035474,0.039466,0.036308,0.034908,64.681247,1.815215
min,231.143330,196.144530,15.859577,11.757374,-2.541517,-2.712856,-3.879762,-4.974386,-3.141515,-3.141472,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.098301,-3.141525
25%,1116.841100,891.983655,630.428243,370.699430,-0.373209,-0.495556,-0.633480,-0.948456,-1.563826,-1.577909,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.324238,-1.577253
50%,1308.135450,1046.416700,769.832125,534.400125,-0.002216,-0.003393,-0.009497,-0.005314,0.003726,-0.009418,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,49.584134,-0.015084
75%,1570.333500,1241.800125,898.636240,683.102090,0.364234,0.501122,0.631862,0.948742,1.566824,1.564441,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,86.389751,1.563947
max,3712.367200,3281.815700,1978.999000,1688.594700,2.578460,2.732700,3.707117,4.754939,3.141573,3.141472,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1303.733600,3.141518

In [10]:
folder = 'Plots/gSg2_y0y0/mx10_my_100_'
makePlots(data_gSg2[0],folder=folder)
folder = 'Plots/gSg2_y0y0/mx10_my_2000_'
makePlots(data_gSg2[1],folder=folder)

## Simulación con $g_{Sg1} = 1.0$ y $g_{Sg2} = 1.0$ únicamente
Masas: $m_{\chi} = 10$ GeV, $m_{Y_{0}} = 100$ GeV ($m_{Y_{0}} = 2$ TeV)

In [11]:
csvFile = ["./sim_outputs/csv/DM_gSg_only_1.csv","./sim_outputs/csv/DM_gSg_only_2.csv"]
data_gSg = [pd.read_csv(i) for i in csvFile]

In [12]:
data_gSg[0].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,503.506591,389.985418,175.050513,90.529008,0.004947,-0.009184,-0.005976,-0.003668,0.004692,-0.009805,...,0.035340,0.045540,0.076120,0.074660,0.000800,0.001340,0.001740,0.002200,21.758698,0.002311
std,162.196276,128.520468,116.205104,71.695526,1.013391,1.131831,1.610612,1.821985,1.810850,1.813989,...,0.262016,0.294394,0.379327,0.372785,0.028273,0.036582,0.041677,0.046853,31.118142,1.813685
min,18.848557,18.068623,7.198434,4.689093,-4.232755,-4.340670,-5.013907,-5.493817,-3.141546,-3.141566,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.092123,-3.141558
25%,416.856115,318.417428,83.511000,41.121307,-0.680670,-0.780622,-1.172287,-1.327947,-1.562282,-1.583886,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.659843,-1.589114
50%,505.697985,401.627490,146.221405,68.509490,-0.007318,-0.004621,-0.003407,-0.005851,0.015372,-0.011665,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.745722,0.022010
75%,574.243695,459.890903,243.433662,116.370047,0.695818,0.765000,1.162049,1.322458,1.568291,1.566002,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.376250,1.570325
max,2864.721700,1912.869900,1104.783400,857.189300,4.205910,4.231093,5.110301,5.620185,3.141530,3.141497,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1402.400000,3.141524

In [13]:
data_gSg[1].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,900.676851,740.209694,236.746172,106.700145,-0.001444,0.001305,0.000814,-0.009946,-0.002825,-0.017561,...,0.032920,0.042120,0.081580,0.081080,0.000960,0.001380,0.002000,0.002120,37.893135,-0.000326
std,252.404173,216.787165,182.753848,91.396291,0.904967,0.999136,1.537901,1.754436,1.813727,1.812495,...,0.250515,0.285215,0.392489,0.392669,0.030969,0.037123,0.044677,0.045995,43.039155,1.812572
min,44.649990,26.537111,8.181317,4.389267,-4.039496,-4.036068,-5.341932,-5.473910,-3.141591,-3.141573,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.138600,-3.141322
25%,761.636235,613.338025,100.204059,46.534387,-0.595507,-0.664828,-1.097091,-1.281884,-1.579519,-1.585195,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.913040,-1.574295
50%,948.567100,790.914730,182.009605,78.402110,-0.004446,-0.002536,-0.009335,-0.007138,0.009924,-0.013481,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.832389,0.010679
75%,1044.893175,899.013215,320.868520,135.420672,0.598988,0.669025,1.114169,1.255486,1.563412,1.545386,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,48.388394,1.573642
max,2771.837000,2295.168500,1374.375500,1060.052900,4.215478,4.422299,5.210135,5.524613,3.141408,3.141113,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1262.263300,3.141546

In [14]:
folder = 'Plots/gSg/mx10_my_100_'
makePlots(data_gSg[0],folder=folder)
folder = 'Plots/gSg/mx10_my_2000_'
makePlots(data_gSg[1],folder=folder)

## Simulación con $g_{Sq} = 1.0$ únicamente
$q = u,d,c,s,b,t$



Masas: $m_{\chi} = 10$ GeV, $m_{Y_{0}} = 100$ GeV ($m_{Y_{0}} = 2$ TeV)

In [15]:
csvFile = ["./sim_outputs/csv/DM_gSq_only_1.csv", "./sim_outputs/csv/DM_gSq_only_2.csv"]
data_gSq = [pd.read_csv(i) for i in csvFile]

In [16]:
data_gSq[0].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,49998.000000,50000.000000,50000.000000,50000.000000,49998.000000,50000.000000,50000.000000,...,50000.000000,50000.00000,50000.000000,49998.000000,50000.000000,50000.000000,50000.000000,49998.000000,50000.000000,50000.000000
mean,471.940374,375.856955,143.314230,75.353674,0.002590,0.009239,-0.007930,-0.004143,-0.012202,0.018799,...,0.080700,0.14392,0.524900,0.464699,0.001640,0.002460,0.006640,0.006960,22.497417,-0.006118
std,132.866786,111.258124,97.276924,59.134629,1.003601,1.102021,1.542685,1.821523,1.816114,1.810569,...,0.391089,0.51851,0.877744,0.841704,0.040464,0.049538,0.081216,0.083138,27.370797,1.809270
min,32.055954,19.424946,3.664236,3.487157,-4.652973,-4.478147,-5.226489,-5.384393,-3.141437,-3.141479,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.069236,-3.141579
25%,397.838357,310.198760,69.610205,35.395319,-0.678611,-0.739751,-1.115579,-1.351502,-1.596652,-1.549735,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.219868,-1.565069
50%,491.162850,397.664445,116.504830,57.529395,0.005602,0.008466,-0.010573,-0.014387,-0.022173,0.039094,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.768562,-0.022843
75%,544.917950,453.657710,193.127567,95.030708,0.682932,0.756403,1.096545,1.346382,1.559155,1.577128,...,0.000000,0.00000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,26.022995,1.560293
max,1426.380900,1322.085200,872.638100,763.532040,4.055057,4.489490,5.753442,5.827692,3.141517,3.141461,...,3.000000,3.00000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,557.790200,3.141560

In [17]:
data_gSq[1].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,49998.000000,50000.000000,50000.000000,50000.000000,49998.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,49998.000000,50000.000000,50000.000000,50000.00000,49998.000000,50000.000000,50000.000000
mean,868.597912,733.446614,189.970056,88.176634,0.001576,0.004124,-0.012099,-0.000139,0.008910,-0.013273,...,0.059060,0.104440,0.526220,0.438358,0.001500,0.001900,0.00670,0.006760,38.080454,0.000879
std,236.013018,215.233008,149.966344,74.053426,0.913495,0.999234,1.464982,1.782840,1.817541,1.811917,...,0.334506,0.442602,0.882682,0.825707,0.038701,0.043548,0.08158,0.081943,38.479155,1.813325
min,50.851513,11.325026,9.625609,3.755208,-4.732384,-4.208015,-5.297405,-5.517005,-3.141556,-3.141475,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.009082,-3.141515
25%,737.588975,606.992720,82.469575,39.480945,-0.601974,-0.652393,-1.044484,-1.321708,-1.574607,-1.576433,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,13.788630,-1.561206
50%,927.937485,792.312550,144.619010,65.676312,0.003375,0.007019,-0.013238,-0.001209,0.021648,-0.023955,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,27.125155,0.003044
75%,1021.717387,897.566000,250.302883,111.480785,0.605966,0.664886,1.036600,1.315602,1.580708,1.542563,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000,49.822859,1.568861
max,2672.616000,2668.471000,1122.162000,1086.362400,4.546738,4.520003,5.032038,5.818826,3.141571,3.141379,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.00000,1.000000,928.776730,3.141517

In [18]:
folder = 'Plots/gSq/mx10_my_100_'
makePlots(data_gSq[0], folder=folder)
folder = 'Plots/gSq/mx10_my_2000_'
makePlots(data_gSq[1], folder=folder)

Background

In [19]:
csvFile = "./background/ZpJets.csv"
data_ZpJ = pd.read_csv(csvFile)
csvFile = "./background/WpJets.csv"
data_WpJ = pd.read_csv(csvFile)

In [20]:
folder = 'Plots/gSg1/'
datas = [data_ZpJ, data_WpJ, data_gSg1[0], data_gSg1[1]]
names = ['Z+Jets','W+Jets','gSg1 MY0=100GeV', 'gSg1 MY0=2TeV']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)

In [21]:
folder = 'Plots/gSg2_y0y0/'
datas = [data_ZpJ, data_WpJ, data_gSg2[0], data_gSg2[1]]
names = ['Z+Jets','W+Jets','gSg2 MY0=100GeV', 'gSg2 MY0=2TeV']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)

In [22]:
folder = 'Plots/gSg/'
datas = [data_ZpJ, data_WpJ, data_gSg[0], data_gSg[1]]
names = ['Z+Jets','W+Jets','gSg MY0=100GeV', 'gSg MY0=2TeV']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)

In [23]:
folder = 'Plots/gSq/'
datas = [data_ZpJ, data_WpJ, data_gSq[0], data_gSq[1]]
names = ['Z+Jets','W+Jets','gSq MY0=100GeV', 'gSq MY0=2TeV']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)

In [24]:
folder = 'Plots/'
datas = [data_ZpJ, data_WpJ, data_gSq[0], data_gSg1[0], data_gSg2[0], data_gSg[0]]
names = ['Z+Jets','W+Jets','Case 1', 'Case 2', 'Case 3', 'Case 4']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)