# Análisis Simulaciones MadGraph/Pythia8/Delphes
Los outputs están en *sim_outputs/*.

In [1]:
import awkward as ak
import pandas as pd
import numpy as np
import vector
from coffea.nanoevents import NanoEventsFactory
from coffea.nanoevents import NanoAODSchema, DelphesSchema
import mplhep as hep
import matplotlib.pyplot as plt
import seaborn as sns
import DM_HEP_AN as dm
from math import pi
from funcs import *
hep.style.use("CMS")
#%matplotlib inline
plt.ioff()

## Simulación con $g_{Sg} = 1.0$ únicamente
Masas: $m_{\chi} = 10$ GeV, $m_{Y_{0}} = 100$ GeV ($m_{Y_{0}} = 2$ TeV)

In [2]:
# Análisis con csv file
csvFile = ["./sim_outputs/csv/DM_gSg1_only_1.csv","./sim_outputs/csv/DM_gSg1_only_2.csv"]
data_gSg1 = [pd.read_csv(i) for i in csvFile]

In [3]:
data_gSg1[0].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,49994.000000,50000.000000,50000.000000,50000.000000,49994.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,49994.000000,50000.000000,50000.000000,50000.00000,49994.000000,50000.000000,50000.000000
mean,114.872906,83.034916,53.787675,36.790366,0.000901,0.002335,-0.012597,0.008807,-0.021057,0.002809,...,0.047180,0.061360,0.056700,0.061407,0.001200,0.001560,0.00144,0.001340,9.000081,-0.007741
std,81.535299,63.312088,33.413294,22.819204,1.579854,1.736938,1.866968,2.000516,1.814710,1.810188,...,0.299726,0.340819,0.330163,0.341417,0.034621,0.039466,0.03792,0.036584,12.486202,1.817398
min,17.535332,11.258586,6.309415,3.041534,-5.040472,-5.179996,-5.372901,-5.490438,-3.141529,-3.141282,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.013714,-3.141085
25%,69.224902,47.937618,32.937717,22.162052,-1.136750,-1.256081,-1.355651,-1.416151,-1.585731,-1.565680,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,3.691582,-1.588066
50%,92.502790,65.732337,45.134017,31.190962,-0.000922,0.000487,-0.014678,0.006065,-0.026992,0.015059,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,6.094937,-0.003991
75%,131.312543,95.891516,63.813493,44.533208,1.146236,1.247853,1.324921,1.452437,1.554455,1.566438,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,9.783814,1.570823
max,2372.007600,1945.439800,623.691650,418.820430,5.028924,5.141991,5.768168,5.826468,3.141557,3.141516,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.00000,1.000000,394.450500,3.141573

In [4]:
data_gSg1[1].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,49996.000000,50000.000000,50000.000000,50000.000000,49996.000000,50000.000000,50000.000000,...,50000.00000,50000.000000,50000.000000,49996.000000,50000.000000,50000.000000,50000.000000,49996.000000,50000.000000,50000.000000
mean,114.264214,82.480225,53.694017,36.685062,-0.003459,0.001271,0.006295,-0.001000,0.007915,0.003084,...,0.04758,0.058900,0.059080,0.063685,0.001180,0.001620,0.001300,0.001720,9.003424,-0.001514
std,80.138940,61.903353,33.103659,22.660530,1.584014,1.745904,1.854499,1.999852,1.812257,1.812621,...,0.30033,0.334235,0.336975,0.348305,0.034331,0.040217,0.036032,0.041439,13.900923,1.811687
min,17.631819,12.335399,5.170922,3.193607,-4.856117,-5.403531,-5.456796,-5.538361,-3.141351,-3.141439,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.026999,-3.141056
25%,69.213658,48.054994,33.067329,22.282512,-1.158584,-1.255780,-1.331194,-1.445126,-1.568744,-1.566518,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.699377,-1.566043
50%,92.379510,65.514470,45.237318,31.167586,-0.001094,0.004859,0.016778,0.004005,0.017658,0.010723,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.092726,-0.017656
75%,131.533100,95.382396,63.598744,44.260657,1.144654,1.274047,1.344390,1.440867,1.570965,1.570253,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.763943,1.568419
max,1848.721800,1264.497900,544.763000,381.934450,4.720491,5.152850,5.777171,5.976526,3.141593,3.141514,...,3.00000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1041.856000,3.141550

In [5]:
folder = 'Plots/gSg1/mx10_my_100_'
makePlots(data_gSg1[0],folder=folder)
folder = 'Plots/gSg1/mx10_my_2000_'
makePlots(data_gSg1[1],folder=folder)

## Simulación con $g_{Sg2} = 1.0$ únicamente
Masas: $m_{\chi} = 10$ GeV, $m_{Y_{0}} = 100$ GeV ($m_{Y_{0}} = 2$ TeV), proceso p p > y0 y0 j j, y0 > xd xd~, y0 > xd xd~

In [6]:
# Análisis con csv file
csvFile = ["./sim_outputs/csv/DM_gSg2_only_y0y0_1.csv","./sim_outputs/csv/DM_gSg2_only_y0y0_2.csv"]
data_gSg2 = [pd.read_csv(i) for i in csvFile]

In [7]:
data_gSg2[0].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,823.245326,599.787379,380.140029,243.007937,0.000759,-0.000279,0.001291,-0.009279,0.002976,0.013258,...,0.101540,0.108620,0.093660,0.086620,0.002120,0.002820,0.002720,0.001980,64.698414,0.014085
std,408.645699,314.852114,206.857920,137.293454,0.755344,0.843788,0.982656,1.111807,1.813338,1.810655,...,0.438034,0.449206,0.420013,0.404426,0.045995,0.053029,0.052083,0.044454,84.368146,1.815189
min,46.184196,45.475594,35.527554,14.056439,-3.154703,-3.226626,-4.021678,-4.350149,-3.141507,-3.141591,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.124895,-3.141558
25%,521.344545,358.892888,226.644333,147.193330,-0.497603,-0.566241,-0.666763,-0.768237,-1.566485,-1.553664,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.255513,-1.560093
50%,760.811150,548.696400,331.646750,211.238785,0.001435,-0.001287,-0.000439,-0.009262,-0.008116,0.014750,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.472204,0.016903
75%,1056.306150,774.926325,492.816217,302.597807,0.505474,0.567591,0.673373,0.745701,1.574984,1.582446,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,79.649917,1.592783
max,3320.436800,3029.489700,1903.590500,1392.375100,3.357164,4.017320,3.849475,4.726275,3.141482,3.141079,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1181.125900,3.141518

In [8]:
data_gSg2[1].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,...,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000,46304.000000
mean,825.645925,601.476723,379.791484,243.075866,0.001834,0.002026,-0.003437,-0.001255,0.004537,-0.003238,...,0.096968,0.109775,0.096666,0.090511,0.002246,0.003175,0.002311,0.002354,64.794103,-0.011765
std,408.219019,314.192422,205.802989,137.726624,0.753939,0.849200,0.979023,1.110340,1.814767,1.810800,...,0.427057,0.453458,0.424284,0.416277,0.047340,0.056255,0.048016,0.048462,84.405107,1.811448
min,64.609800,50.389206,38.028545,10.865964,-2.990212,-3.642022,-3.830730,-4.192880,-3.141542,-3.141450,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.072045,-3.141550
25%,522.211825,359.320140,227.933310,147.812860,-0.499256,-0.566472,-0.672470,-0.756330,-1.564447,-1.578335,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.152317,-1.585354
50%,763.670770,547.871000,330.326600,211.192100,0.000198,0.000877,-0.001359,0.004684,0.007878,-0.008429,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.283622,-0.026845
75%,1062.967900,780.129063,489.860165,301.736742,0.504502,0.570423,0.672338,0.758096,1.592879,1.574046,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,79.799720,1.553571
max,3240.787800,2911.044700,1736.314700,1346.519400,3.208762,3.328791,3.680250,4.711757,3.141292,3.141422,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1010.317750,3.141543

In [9]:
folder = 'Plots/gSg2_y0y0/mx10_my_100_'
makePlots(data_gSg2[0],folder=folder)
folder = 'Plots/gSg2_y0y0/mx10_my_2000_'
makePlots(data_gSg2[1],folder=folder)

## Simulación con $g_{Sg1} = 1.0$ y $g_{Sg2} = 1.0$ únicamente
Masas: $m_{\chi} = 10$ GeV, $m_{Y_{0}} = 100$ GeV ($m_{Y_{0}} = 2$ TeV)

In [10]:
csvFile = ["./sim_outputs/csv/DM_gSg_only_1.csv","./sim_outputs/csv/DM_gSg_only_2.csv"]
data_gSg = [pd.read_csv(i) for i in csvFile]

In [11]:
data_gSg[0].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,21317.000000,21317.000000,21317.000000,21317.000000,21317.000000,21317.000000,21317.000000,21317.000000,21317.000000,21317.000000,...,21317.000000,21317.000000,21317.000000,21317.000000,21317.00000,21317.000000,21317.000000,21317.000000,21317.000000,21317.000000
mean,471.113353,343.419925,193.379797,106.851667,-0.007705,-0.012814,-0.010049,0.012736,-0.001522,0.002741,...,0.079326,0.090960,0.075902,0.075433,0.00258,0.002064,0.001548,0.002158,35.849983,0.017946
std,347.652397,266.252308,152.656442,82.295901,1.051791,1.143403,1.301233,1.510583,1.812307,1.813986,...,0.387508,0.411451,0.373347,0.374320,0.05073,0.045386,0.039316,0.046404,57.379000,1.817620
min,26.686039,17.174908,12.475304,5.664543,-3.923938,-4.660868,-5.016172,-5.229134,-3.141583,-3.141235,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.061504,-3.141198
25%,206.093960,147.698230,87.480930,50.176850,-0.708187,-0.782370,-0.909704,-0.999662,-1.573898,-1.580054,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,6.976059,-1.562301
50%,375.130040,266.459260,150.086260,84.223770,-0.002462,-0.009069,-0.004796,0.028976,-0.006912,0.004377,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,14.650125,0.028058
75%,649.411500,466.863620,248.568130,137.766420,0.690114,0.757177,0.857791,1.009866,1.558444,1.556649,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,39.610800,1.592884
max,2923.355500,2528.752400,1401.246600,1050.246800,3.967595,4.219117,4.880118,5.859328,3.141516,3.141346,...,3.000000,3.000000,3.000000,3.000000,1.00000,1.000000,1.000000,1.000000,1060.559200,3.140787

In [12]:
data_gSg[1].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,...,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000
mean,472.596574,345.640311,191.963166,106.833035,0.000483,-0.001348,-0.015949,-0.002513,-0.019420,0.038570,...,0.080508,0.085311,0.072316,0.078390,0.001977,0.002542,0.002119,0.001977,35.983982,-0.022474
std,344.751036,266.582187,147.069438,81.382125,1.059036,1.140756,1.321989,1.499422,1.804023,1.825888,...,0.387346,0.396779,0.373772,0.384304,0.044427,0.050361,0.045983,0.044427,57.671773,1.821381
min,25.037430,16.242890,12.360474,4.821045,-3.833233,-4.422981,-5.205865,-5.328050,-3.140773,-3.140506,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.175738,-3.140603
25%,207.706448,149.594983,88.493979,50.424148,-0.695588,-0.756793,-0.898762,-0.998169,-1.585929,-1.576421,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.980834,-1.612599
50%,373.436465,266.738390,151.677640,84.032290,-0.015610,0.005317,0.003180,-0.017474,-0.040096,0.089357,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.594658,-0.026347
75%,656.995627,470.982987,247.845030,138.473308,0.695424,0.752510,0.880959,0.994987,1.542508,1.626599,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,38.407328,1.597930
max,2450.214600,2179.411600,1251.443800,770.554750,4.246430,4.312956,4.003526,4.967681,3.141001,3.139350,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,724.432250,3.140801

In [13]:
folder = 'Plots/gSg/mx10_my_100_'
makePlots(data_gSg[0],folder=folder)
folder = 'Plots/gSg/mx10_my_2000_'
makePlots(data_gSg[1],folder=folder)

## Simulación con $g_{Sq} = 1.0$ únicamente
$q = u,d,c,s,b,t$



Masas: $m_{\chi} = 10$ GeV, $m_{Y_{0}} = 100$ GeV ($m_{Y_{0}} = 2$ TeV)

In [14]:
csvFile = ["./sim_outputs/csv/DM_gSq_only_1.csv", "./sim_outputs/csv/DM_gSq_only_2.csv"]
data_gSq = [pd.read_csv(i) for i in csvFile]

In [15]:
data_gSq[0].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,49993.000000,50000.000000,50000.000000,50000.000000,49993.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,49993.000000,50000.000000,50000.000000,50000.000000,49993.000000,50000.000000,50000.000000
mean,80.622135,58.420295,41.377357,29.602775,-0.007669,-0.001721,-0.010377,-0.010827,-0.007640,0.011026,...,0.256280,0.391640,0.407560,0.407477,0.002940,0.004980,0.005200,0.006081,9.455617,-0.002243
std,38.040006,28.586423,19.185137,14.580589,1.573620,1.707154,1.859434,2.025437,1.810379,1.815292,...,0.667869,0.794601,0.803211,0.806418,0.054143,0.070394,0.071924,0.077743,9.409622,1.813774
min,13.326348,10.190426,5.104964,3.029465,-4.947130,-5.471061,-5.424504,-5.545606,-3.140993,-3.141443,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037630,-3.141542
25%,57.260563,40.799755,28.725497,19.734932,-1.131327,-1.230274,-1.332633,-1.482799,-1.569507,-1.563553,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.090344,-1.566905
50%,71.780403,51.708542,37.569613,26.811832,0.001988,0.005486,-0.015713,0.000304,-0.004081,0.021940,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.908985,-0.002336
75%,93.337896,68.126200,49.433943,36.314823,1.113328,1.217311,1.327113,1.436222,1.555237,1.587001,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,11.382217,1.562592
max,787.649540,660.934940,306.570200,272.270940,5.040438,5.255494,5.625408,5.867042,3.141548,3.141555,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,252.573030,3.141589

In [16]:
data_gSq[1].describe()

,jet_pt0,jet_pt1,jet_pt2,jet_pt3,jet_eta0,jet_eta1,jet_eta2,jet_eta3,jet_phi0,jet_phi1,...,jet_btag0,jet_btag1,jet_btag2,jet_btag3,jet_tautag0,jet_tautag1,jet_tautag2,jet_tautag3,missinget_met,missinget_phi
count,50000.000000,50000.000000,50000.000000,49990.000000,50000.000000,50000.000000,50000.000000,49990.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,49990.000000,50000.000000,50000.000000,50000.000000,49990.000000,50000.000000,50000.000000
mean,81.269711,58.829476,41.647248,29.822580,0.004753,-0.005595,-0.007520,-0.004163,-0.010656,0.002406,...,0.261240,0.391420,0.405440,0.406001,0.002940,0.004860,0.005660,0.006061,9.543725,-0.004206
std,39.362627,29.592180,19.528181,14.747649,1.564508,1.703801,1.850340,2.026009,1.820074,1.812064,...,0.673025,0.797937,0.802864,0.803528,0.054143,0.069545,0.075021,0.077618,9.750978,1.810567
min,14.629840,10.547381,3.908819,3.164921,-5.059658,-5.457474,-5.486460,-5.581654,-3.141326,-3.141570,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.054901,-3.141573
25%,57.432705,40.938469,28.822456,19.868389,-1.107149,-1.211867,-1.335160,-1.462546,-1.598915,-1.568143,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.128647,-1.579646
50%,72.141600,51.784182,37.836043,26.943984,0.011537,-0.009980,-0.012078,-0.016965,-0.020420,0.017371,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.962580,-0.004038
75%,94.195831,68.370231,49.432997,36.562905,1.121691,1.209025,1.330025,1.470695,1.563266,1.570444,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,11.439942,1.553399
max,897.063700,714.487550,303.203100,204.216030,5.140343,5.479812,5.752222,5.950479,3.141331,3.141569,...,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,303.325870,3.141576

In [17]:
folder = 'Plots/gSq/mx10_my_100_'
makePlots(data_gSq[0], folder=folder)
folder = 'Plots/gSq/mx10_my_2000_'
makePlots(data_gSq[1], folder=folder)

Background

In [18]:
csvFile = "./background/ZpJets.csv"
data_ZpJ = pd.read_csv(csvFile)
csvFile = "./background/WpJets.csv"
data_WpJ = pd.read_csv(csvFile)

In [19]:
folder = 'Plots/gSg1/'
datas = [data_ZpJ, data_WpJ, data_gSg1[0], data_gSg1[1]]
names = ['Z+Jets','W+Jets','gSg1 MY0=100GeV', 'gSg1 MY0=2TeV']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)

/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \
/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \
/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \
/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \

In [20]:
folder = 'Plots/gSg2_y0y0/'
datas = [data_ZpJ, data_WpJ, data_gSg2[0], data_gSg2[1]]
names = ['Z+Jets','W+Jets','gSg2 MY0=100GeV', 'gSg2 MY0=2TeV']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)

/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \
/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \

In [21]:
folder = 'Plots/gSg/'
datas = [data_ZpJ, data_WpJ, data_gSg[0], data_gSg[1]]
names = ['Z+Jets','W+Jets','gSg MY0=100GeV', 'gSg MY0=2TeV']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)

/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \
/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \

In [22]:
folder = 'Plots/gSq/'
datas = [data_ZpJ, data_WpJ, data_gSq[0], data_gSq[1]]
names = ['Z+Jets','W+Jets','gSq MY0=100GeV', 'gSq MY0=2TeV']
plotObservable(datas, names, 'Azim_diff', folder=folder)
plotObservable(datas, names, 'Inv_mass', folder=folder)
plotObservable(datas, names, 'Pseudorapidity', folder=folder)

/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \
/home/juan/Documents/GitHub/VBFDM_EAFIT/funcs.py:102: RuntimeWarning: invalid value encountered in sqrt
  m = np.sqrt(2 * row['jet_pt0'] * row['jet_pt1'] * \